

                <div class="container clearfix">

      
                    <div class="clear"></div>

                    <!-- Portfolio Items
                    ============================================= -->
                    <div id="video_page" class="portfolio-3 clearfix">

                     {if $video_list neq ''}
                        {foreach name=list_video from=$video_list item=rs}
                        <article class="portfolio-item pf-graphics pf-uielements">
                            <div class="portfolio-image">
                                <a href="#">
                                    <img src="{$rs.video_image}" alt="Mac Sunglasses">
                                </a>
                                <div class="portfolio-overlay">
                                    <a href="{$rs.url_play}" class="left-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
                                   
                                </div>
                            </div>
                            <div class="portfolio-desc">
                                <h3>{$rs.judul_video}</h3>
                            </div>
                        </article>
                        {/foreach}
                        {/if}


                       

                        
                    </div><!-- #portfolio end -->

                    <!-- Portfolio Script
                    ============================================= -->
                    <script type="text/javascript">

                        jQuery(window).load(function(){

                            var $container = $('#portfolio');

                            $container.isotope({ transitionDuration: '0.65s' });

                            $('#portfolio-filter a').click(function(){
                                $('#portfolio-filter li').removeClass('activeFilter');
                                $(this).parent('li').addClass('activeFilter');
                                var selector = $(this).attr('data-filter');
                                $container.isotope({ filter: selector });
                                return false;
                            });

                            $('#portfolio-shuffle').click(function(){
                                $container.isotope('updateSortData').isotope({
                                    sortBy: 'random'
                                });
                            });

                            $(window).resize(function() {
                                $container.isotope('layout');
                            });

                        });

                    </script><!-- Portfolio Script End -->

                </div>


