<table id="table_datagrid" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                <th width="10%">Tahun</th>
                                                <th width="5%" align="center">Januari</th>
                                                <th width="5%" align="center">Februari</th>
                                                <th width="5%" align="center">Maret</th>
                                                <th width="5%" align="center">April</th>
                                                <th width="5%" align="center">Mei</th>
                                                <th width="5%" align="center">Juni</th>
                                                <th width="5%" align="center">Juli</th>
                                                <th width="5%" align="center">Agustus</th>
                                                <th width="5%" align="center">September</th>
                                                <th width="5%" align="center">Oktober</th>
                                                <th width="5%" align="center">November</th>
                                                <th width="5%" align="center">Desember</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                              {if $datacpodomestik neq ''}
                                              {foreach name=list_data from=$datacpodomestik item=result}
                                            <tr>
                                                <td>{$result.tahun}</td>
                                               <td>{$result.januari}</td>
                                               <td>{$result.februari}</td>
                                               <td>{$result.maret}</td>
                                               <td>{$result.april}</td>
                                               <td>{$result.mei}</td>
                                               <td>{$result.juni}</td>
                                               <td>{$result.juli}</td>
                                               <td>{$result.agustus}</td>
                                               <td>{$result.september}</td>
                                               <td>{$result.oktober}</td>
                                               <td>{$result.november}</td>
                                               <td>{$result.desember}</td>
                                            </tr>
                                            {/foreach}
                                            {/if}
                                            </tbody>
                                            <tfoot>
                                        </tfoot>
                                    </table>
