{nocache}
 {foreach name=data_anggota from=$data_anggota item=rs}
 <div class="container" id="modal-detail-anggota{$rs.id_registrasi}" style="display:none;" >
      <div class="row">
    
        <div class="col-xs-12  toppad" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">{$rs.nama}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"><img src="{$BASEURL}doc/registrasi/{$rs.id_registrasi}/{$rs.image}" height="100" class="img-circle img-responsive"> </div>
                
               
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Pekerjaan</td>
                        <td>{$rs.pekerjaan}</td>
                      </tr>
                      <tr>
                        <td>Organisasi</td>
                        <td>{$rs.nama_asosiasi}</td>
                      </tr>
                    
                      
                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:{$rs.email}">{$rs.email}</a></td>
                      </tr>
                       <tr>
                        <td>Perusahaan</td>
                        <td>{$rs.perusahaan}</td>
                      </tr>
                      <tr>
                        <td>Alamat</td>
                        <td>{$rs.alamat}</td>
                      </tr>
                      <tr>
                        <td>Website</td>
                        <td><a href="http://{$rs.web}">{$rs.web}</a></td>
                      </tr>
                      <tr>
                        <td>Provinsi</td>
                        <td>{$rs.nama_propinsi}</td>
                      </tr>
                      <tr>
                        <td>Kota</td>
                        <td>{$rs.nama_kota}</td>
                      </tr>
                       <tr>
                        <td>Kode Pos</td>
                        <td>{$rs.kode_pos}</td>
                      </tr>
                       <tr>
                        <td>Telepon</td>
                        <td>{$rs.telepon}</td>
                      </tr>
                       <tr>
                        <td>Fax</td>
                        <td>{$rs.fax}</td>
                      </tr>
                      <tr>
                        <td>No. KTP</td>
                        <td>{$rs.no_ktp}</td>
                      </tr>

                      <tr>
                        <td>Status Keanggotaan</td>
                        {if $rs.disetujui eq 'ya'}
                        <td>Anggota {$rs.nama_asosiasi}</td>
                        {else}
                        <td>Menunggu Persetujuan</td>
                        {/if}
                      </tr>
                        
                     
                    </tbody>
                  </table>
                  
                
                </div>
              </div>
            </div>
                 
            
          </div>
        </div>
      </div>
    </div>

<div id="modal-detail-anggota-footer" style="display:none;">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
{/foreach}
{/nocache} 