{literal}
<script type="text/javascript">
  function konfirmasi_batal_data(){
    tanya = confirm('Apakah anda yakin akan menghapus Anggota yang anda pilih!');
    if(tanya){
      return true;
    }else{
      return false;
    }
  }
</script>
{/literal}
<!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            &nbsp;&nbsp;Anggota
            <small>
            {foreach name=jumlah_anggota_baru from=$jumlah_anggota_baru item=result}
                          {$result.jumlah}
                     {/foreach} Permintaan Anggota</small>
          </h1>
        </section>
        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-md-3">
              
              <div class="box box-solid">
                <div class="box-header with-border">
                  <h3 class="box-title">Folder</h3>
                </div>
                <div class="box-body no-padding">
                  <ul class="nav nav-pills nav-stacked">
                    <li><a href="{$url_anggota_list}"><i class="fa fa-inbox"></i> Permintaan Anggota<span class="label label-primary pull-right">{foreach name=jumlah_anggota_baru from=$jumlah_anggota_baru item=result}
                          {$result.jumlah}
                     {/foreach}</span></a></li>
                   <li  class="active"><a href="{$url_anggota_disetujui}"><i class="fa fa-inbox"></i> Anggota Disetujui<span class="label label-primary pull-right">{foreach name=jumlah_anggota_disetujui from=$jumlah_anggota_disetujui item=result}
                          {$result.jumlah}
                     {/foreach}</span></a></li>
                  </ul>
                </div><!-- /.box-body -->
              </div><!-- /. box -->
            </div><!-- /.col -->
            <div class="col-md-9">
              <div class="box box-primary">
                <div class="box-header with-border">
                {if $notification_msg <> ""}
                        <div class="col-md-12">
                            {if $notification_status eq 'red'}
                            <div class="alert alert-danger alert-dismissable">
                                        <i class="fa fa-ban"></i>
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        {$notification_msg}.
                                    </div>
                                 {/if}
                                 {if $notification_status eq 'green'}
                                 <div class="alert alert-success alert-dismissable">
                                        <i class="fa fa-check"></i>
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                         {$notification_msg}.
                                    </div>
                                 {/if}
                         </div>
                        {/if}
                  <h3 class="box-title">Daftar Anggota yang Disetujui</h3>
                 
                </div><!-- /.box-header -->
                 <div class="box-body no-padding">
                  <div class="mailbox-controls">
                    <!-- Check all button -->
                    <div class="btn-group">
                    
                      </div><!-- /.btn-group -->
                    </div><!-- /.pull-right -->
                  </div>
                <div class="box-body no-padding">
                   <div class="panel panel-default">
                  <div class="panel-body">
                  <div class="table-responsive mailbox-messages">
                    <table class="table table-hover table-striped" id="table_datagrid">
                      <thead>
                          
                          <th width="20%">Nama Anggota</th>
                          <th width="30%">Asosiasi yang dipilih</th>
                          <th width="20%">Pekerjaan</th>
                          <th width="15%"></th>
                      </thead>
                      <tbody>
                      {if $data_anggota_disetujui neq 'en'}
                       {foreach name=data_anggota_disetujui from=$data_anggota_disetujui item=rs}
                        <tr>
                        
                          <td class="mailbox-name">{$rs.nama}</td>
                          <td class="mailbox-subject">{$rs.nama_asosiasi}</td>
                          <td class="mailbox-date" width="10%">{$rs.pekerjaan}</td>
                           <td align="center">
                             {if $data_anggota_disetujui neq '' and $rs.disetujui eq 'ya'}
                               <div class="btn-group-vertical"><a href="javascript:void(0);" onClick="open_modal('Detail Permintaan Anggota',$('#modal-detail-anggota{$rs.id_registrasi}').html(),$('#modal-detail-anggota-footer').html(),'medium');" title="Lihat Detail" class="btn btn-info btn-flat"><i class='fa fa-eye'></i></a>
                              </div> 
                              
                              <form action="{$url_process_anggota_dibatalkan}" name="form-dibatalkan" method="post" onsubmit="javascript:return konfirmasi_batal_data();">
                                <input type="hidden" name="id_registrasi" value="{$rs.id_registrasi}">
                                <input type="hidden" name="nama" value="{$rs.nama}">
                                 <input type="hidden" name="nama_asosiasi" value="{$rs.nama_asosiasi}">
                                  <input type="hidden" name="email" value="{$rs.email}">
                               <button class="btn btn-danger btn-flat" type="submit" name="tolak" title="Tolak"><i class="fa fa-times-circle"></i></button>
                              </form>
                              {/if}
                              
                          </td>
                        </tr>
                       {/foreach}
                       {/if}
                      </tbody>
                    </table><!-- /.table -->
                  </div><!-- /.mail-box-messages -->
                </div><!-- /.box-body -->
                </div><!-- panel body -->
                </div><!-- panel default -->
                
              </div><!-- /. box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
          {include file="private/registrasi/detail_anggota.html"}
                     <!-- Modal form -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel"></h4>
                      </div>
                      <div class="modal-body" id="modal-bodyku">
                      </div>
                      <div class="modal-footer" id="modal-footerq">
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end of modal ------------------------------> 
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->