/* CSS Document */
/* created by nick29-2008 */

.content {
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 780px;
	margin: 0px 0px;
	padding: 7px 7px 7px 0px;
}

.content form {
	margin: 0px 0px;
	padding: 0px 0px;
}

.statistic-box {
	clear: both;
	font-size: 11px;
	margin: 0px 0px;
	padding: 7px 0px;
}

.graphic-box {
	float: left;
	width: 210px;
	margin: 0px 7px 0px 0px;
	padding: 2px 2px;
}

.graphic-box h4 {
	background-color: #e4ecff;
	background-image: url('../img/h4-graphicbox-bg.gif');
	background-repeat: repeat-x;
	border-bottom: 1px solid #bec9e6;
	font-size: 11px;
	margin: 0px 0px;
	padding: 0px 2px;
}

.graphic-box p {
	background-color: #e4ecff;
	color: #5f5e5e;
	font-size: 10px;
	margin: 0px 0px;
	padding: 0px 2px;
}

.graphic-box-two {
	clear: both;
	border: 1px solid #e4ecff;
	margin: 3px 0px 3px 0px;
	padding: 2px 2px;
}

.graphic-box-two h4 {
	background-color: #e4ecff;
	background-image: url('../img/h4-graphicbox-bg.gif');
	background-repeat: repeat-x;
	border-bottom: 1px solid #bec9e6;
	font-size: 12px;
	margin: 0px 0px;
	padding: 3px 5px;
}

.graphic-box-two p {
	background-color: #e4ecff;
	color: #5f5e5e;
	font-size: 11px;
	margin: 0px 0px;
	padding: 2px 5px;
}

.chartbox {
	text-align: center;
	overflow: hidden;
	margin: 5px 0px 5px 0px;
	padding: 0px 0px;
}

.tabular-box {
	background-color: #f1ece1;
	float: right;
	overflow: hidden;
	width: /*670px*/ 328px;
	height: 470px;
	margin: 0px 0px 0px 0px;
	padding: 5px 5px;
}

.tabular-box h4 {
	color: #89a564;
	font-size: 11px;
	margin: 0px 0px 4px 0px;
	padding: 0px 0px;
}

.tb-left {
	float: left;
	width: 328px;
	margin: 0px 0px 0px 0px;
}

.tb-right {
	float: left;
	width: 328px;
	margin: 0px 0px 0px 355px;
}

.content-tabular-box {
	overflow: auto;
	width: 328px;
	height: 170px;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px;	
}

/*==========================================================*/

.head-content {
	border: 1px solid #FFFFFF;
	border-bottom: 1px solid #96a7b9;
	margin: 0px 0px 5px 0px;
	padding: 0px 0px 0px 0px;
}

.head-content h3 {
	background-image: url('../img/arrow-h3-bg.gif');
	background-position: left center;
	background-repeat: no-repeat;
	color: #86a66d;
	font-size: 12px;
	float: left;
	margin: 8px 0px 5px 0px;
	padding: 0px 0px 0px 15px;;
}

.tab-nav {
	float: right;
	width: 300px;
	margin: 0px 0px -1px 0px;
	padding: 0px 0px;
}

.tab-nav ul {
	float: right;
	margin: 0px 0px;
	padding: 0px 5px 0px 0px;
}

.tab-nav li {
	display: inline;
	margin: 0px 0px;
	padding: 0px 0px;
}

.tab-nav a {
	background-color: #ededed;
	border-bottom: 1px solid #96a7b9;
	color: #879cb3;
	display: block;
	float: left;
	font-weight: bold;
	text-decoration: none;
	margin: 4px 1px 0px 1px;
	padding: 5px 8px;
}

.tab-nav a:hover {
	background-color: #f6f6f6;
	border: 1px solid #96a7b9;
	padding: 4px 7px 5px 7px;
}

a.tab-nav-active {
	background-color: #FFFFFF;
	border: 1px solid #96a7b9;
	border-bottom: 1px solid #FFFFFF;
	color: #7c8a99;
	display: block;
	float: left;
	font-weight: bold;
	text-decoration: none;
	margin: 0px 1px 0px 1px;
	padding: 7px 8px 6px 8px;
}

.tab-nav img {
	border: none;
	margin: 0px 0px 0px 0px;
}

a:hover.tab-nav-active {
	background-color: #f6f6f6;
	border-bottom: 1px solid #f6f6f6;
	margin: 0px 1px 0px 1px;
	padding: 7px 8px 6px 8px;
}

.sub-tabnav {
	background-color: #f1f1f1;
	background-image: url('../img/sub-tabnav-bg.gif');
	background-position: left top;
	background-repeat: repeat-x;
	border-bottom: 1px solid #c8c8c8;
	border-left: 1px solid #c8c8c8;
	border-right: 1px solid #c8c8c8;
	clear: both;
	margin: -5px 0px 5px 0px;
	padding: 0px 0px 0px 0px;
}

.sub-tabnav ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.sub-tabnav li {
	float: left;
	list-style: none;
}

.sub-tabnav a {
	border-right: 1px solid #c8c8c8;
	color: #617da4;
	text-decoration: none;
	display: block;
	margin: 0px 0px 0px 0px;
	padding: 5px 7px;
}

.sub-tabnav a:hover {
	background-image: url('../img/sub-tabnav-bghover.gif');
	background-position: left top;
	background-repeat: repeat-x;
	text-decoration: underline;
}

.sub-tabnav img {
	border: none;
}

.content-left {
	float: left;
	overflow: hidden;
	width: 385px;
	margin: 0px 0px;
	padding: 0px 0px;
}

.content-right {
	float: right;
	overflow: hidden;
	width: 385px;
	margin: 0px 0px;
	padding: 0px 0px;
}

.search-box {
	background-color: #e2e7f1;
	background-image: url('../img/search-bottom-bg.gif');
	background-position: left bottom;
	background-repeat: repeat-x;
	margin: 0px 0px 5px 0px;
	padding: 0px 10px 10px 10px;
}

.search-box h3 {
	background-image: url('../img/search-top-bg.gif');
	background-position: left top;
	background-repeat: repeat-x;
	border-left: 1px solid #e2e7f1;
	border-right: 1px solid #e2e7f1;
	color: #6c86ba;
	font-size: 12px;
	margin: 0px -10px 0px -10px;
	padding: 7px 10px 7px 10px;
}

.mailbox {
	background-color: #ccdaee;
	background-image: url('../img/mailbox-top-bg.gif');
	background-position: left top;
	background-repeat: no-repeat;
	font-size: 12px;
	-moz-border-radius: 5px;
	overflow: hidden;
	margin: 0px 0px 5px 0px;
	padding: 6px;
}

.mail-button {
	margin: 0px;
	padding: 0px 0px 3px 0px;
}

.mail-button input {
	font-size: 11px;
}

.mail-button input.button-bold {
	font-weight: bold;
}

.mail-button select,option {
	font-size: 11px;
}

.select-menu {
	margin: 0px;
	padding: 2px 0px 3px 0px;
}

.select-menu a {
	color: #3068bb;
	text-decoration: none;
}

.select-menu a:hover {
	text-decoration: underline;
}

.list-messages{
	background-color: #FFFFFF;
	margin: 0px 0px 3px 0px;
	padding: 0px;
}

.compose-messages {
}

.compose-messages a {
	color: #2C00D1;
}

.compose-left {
	float: left;
	overflow: hidden;
	width: 500px;
}

.compose-right {
	overflow: hidden;
	float: right;
	font-size: 11px;
	width: 265px;
	margin: 0px;
	padding: 0px;
}

.compose-right h4 {
	background: url('../img/arrow-hover-blue-bg.gif') left top no-repeat;
	color: #2c00d1;
	font-size: 12px;
	margin: 0px 0px 10px 0px;
	padding: 3px 0px 0px 15px;
}

.list-selector {
	border: 1px solid #cecece;
	background-color: #FFFFFF;
	overflow: auto;
	float: left;
	height: 150px;
	width: 120px;
	margin: 5px 0px;
}

.list-selector ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.list-selector li {
	margin: 0px;
	padding: 0px;
}

.list-selector a {
	border-bottom: 1px dotted #cecece;
	color: #000000;
	display: block;
	text-decoration: none;
	padding: 2px 5px;
}

.list-selector a:hover {
	background-color: #ececec;
}

.vendorbox {
	background-color: #f6f6f6;
	border: 1px solid #d1d1d1;
	font-family: "Tahoma", Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}

.vendor-profile {
	background-color: #ffffff;
	border-left: 1px solid #d1d1d1;
	line-height: 16px;
	float: right;
	overflow: hidden;
	width: 180px;
	margin: 0px 0px 0px -1px;
	padding: 0px 10px;
}

.vendor-profile h3 {
	background-color: #e9e9e9;
	background-image: url('../img/h3-vendorProfile-bg.gif');
	background-position: left bottom;
	background-repeat: repeat-x;
	color: #496688;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	width: 180px;
	margin: 0px 0px 0px -10px;
	padding: 7px 10px;
}

.vendor-profile p {
	color: #4b698c;
	margin: 3px 0px;
	padding: 0px 0px;
}

.vendor-profile br {
	margin: 0px;
	padding: 0px;
}

.vendor-profile a {
	color: #6b88af;
	margin: 0px;
	padding: 0px;
}

.vendor-profile a:hover {
	color: #2C00D1;
	text-decoration: underline;
}

.vendor-logo {
	background-color: #f6f6f6;
	background-image: url('../img/vendorBox-bg.gif');
	background-position: right top;
	background-repeat: no-repeat;
	display: block;
	text-align: center;
	width: 200px;
	margin: 0px -10px;
	padding: 10px 0px;
}

.vendor-logo img {
	margin: 0px;
	padding: 0px;
}

.vendor-contact {
	border-top: 1px solid #d1d1d1;
	width: 180px;
	margin: 20px -10px 0px -10px;
	padding: 5px 10px;
}

.vendor-contact p {
	color: #5c5c5c;
}

.vendor-product {
	background-color: #f6f6f6;
	background-image: url('../img/vendorBox-bg.gif');
	background-position: right top;
	background-repeat: no-repeat;
	border-right: 1px solid #d1d1d1;
	color: #595959;
	float: left;
	font-family: "Tahoma", Arial, Helvetica, sans-serif;
	line-height: 14px;
	overflow: hidden;
	width: 567px;
	margin: 0px;
	padding: 5px;
}

.vendor-product h3 {
	background-image: url('../img/h3-vendorproduct-bg.gif');
	background-position: left top;
	background-repeat: no-repeat;
	clear: both;
	color: #6379a9;
	font-size: 12px;
	margin: 1px 0px 4px 0px;
	padding: 0px 20px;
}

.vendor-product h4 {
	color: #6379a9;
	font-size: 11px;
	margin: 0px;
	padding: 0px;
}

.tool-box {
	background: #f6f6f6 url('../img/vendorBox-bg.gif') right top no-repeat;
	border-right: 1px solid #d1d1d1;
	color: #595959;
	float: left;
	font-family: "Tahoma", Arial, Helvetica, sans-serif;
	line-height: 14px;
	overflow: hidden;
	width: 768px;
	margin: 0px 0px 0px 0px;
	padding: 5px 5px 5px 5px;
}

.tool-box h3 {
	background-image: url('../img/h3-vendorproduct-bg.gif');
	background-position: left top;
	background-repeat: no-repeat;
	clear: both;
	color: #6379a9;
	font-size: 12px;
	margin: 1px 0px 4px 0px;
	padding: 0px 20px;
}

.tool-box h4 {
	color: #6379a9;
	font-size: 11px;
	margin: 0px;
	padding: 0px;
}

ul.list-product  {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.list-product li {
	background-color: #FFFFFF;
	border: 1px solid #d1d1d1;
	list-style: none;
	float: left;
	margin: 3px;
	padding: 0px;
}

.list-product li:hover {
	/*background-color: #f2f7fb;*/
	border: 1px solid #bcd3e5;
}

.list-product a {
	color: #595959;
	text-decoration: none;
}

.list-product a:hover {
	color: #7da755;
	text-decoration: underline;
}

.list-product a img {
	border: none;
}

.list-product p {
	margin: 0px 0px 5px 0px;
	padding: 0px;
}

.list-product small {
	color: #7da755;
	font-size: 11px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}

.list-product strong {
	color: #6379a9;
	font-weight: normal;
}

.list-product b {
	color: #6379a9;
}

.commonProduct-detail {
	float: left;
	line-height: 20px;
	text-align: justify;
	width: auto;
	margin: 10px 0px;
	padding: 0px 0px 20px 185px;
}

.commonProduct-detail ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.commonProduct-detail li {
	margin: 0px;
	padding: 0px;
}

.commonProduct-detail a {
	color: #7da755;
	text-decoration: none;
}

.commonProduct-detail a:hover {
	text-decoration: underline;
}

.commonProduct-detail strong {
	color: #6379a9;
	margin: 0px 10px 0px 0px
}

.other-product {
	background: #ffffff;
	border: 1px solid #d1d1d1;
	clear: both;
	line-height: 18px;
	margin: 0px;
	padding: 5px 10px;
}

.other-product ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.other-product li {
	display: block;
	float: left;
	width: 178px;
	margin: 0px;
	padding: 0px 0px 0px 0px;
}

.other-product a {
	background: url('../img/arrow-blue-bg.gif') left top no-repeat;
	color: #595959;
	display: block;
	text-decoration: none;
	padding: 0px 0px 0px 0px;
	padding: 1px 5px 0px 20px;
}

.other-product a:hover{
	background: url('../img/arrow-green-bg.gif') left top no-repeat;
	color: #7da755;
	text-decoration: underline;
}

