/* CSS Document */
/* created by bone.cracker-2008 */

.common {
	size: A4 portrait;
	margin: 0mm;
	padding: 0mm;
}

.page-str {
	border: 7px solid #000000;
	clear: both;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 30px;
	overflow: hidden;
	page-break-after: always;
	text-align: center;
	width: 160mm;
	height: 255mm;
	margin: 0mm auto 5mm auto;
	padding: 5mm 5mm;
}

.page-str h1 {
	font-family: "Cooper Black", "Times New Roman", Times, serif;
	font-size: 23px;
	margin: 5px 0px 0px 0px;
}

.page-str h2 {
	font-family: "Arial Black", Helvetica, sans-serif;
	font-size: 18px;
	margin: 0px;
	padding: 0px
}

.page-str h3 {
	font-size: 17px;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

.page-str h4 {
	font-size: 17px;
	margin: 120px 0px 0px 0px;
	padding: 0px;
}

.page-str h5 {
	font-size: 12px;
	font-weight: normal;
	margin: 0px 0px 40px 0px;
}

.page-str p {
	font-size: 16px;
	margin: 5px 0px;
}

.page-str img.logo {
	overflow: hidden;
	width: 45mm;
	margin: 40px 0px 60px 0px;
	padding: 0px;
}

.signature {
	margin: 60px 0px 0px 0px ;
	padding: 0px;
}

.page-str small.footer-set {
	color: #555555;
	display: block;
	font-size: 13px;
	margin: 60px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.tumbnails-menu {
	margin: 7px 5px;
	padding: 0px 0px 7px 0px;
}

.tumbnails-menu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.tumbnails-menu li {
	display: block;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	margin: 6px 4px;
	padding: 5px 5px 5px 5px;
	display: block;
	background-color: #F4F6FA;
	background-image: url(../img/li-bg.png);
	border: 1px solid #dedfe3;
	background-repeat: repeat-x;
	float: left;
	width: 236px;
	height: 70px;
}

.tumbnails-menu li:hover {
	display: block;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	margin: 6px 4px;
	padding: 5px 5px 5px 5px;
	display: block;
	background-color: #FDF3E6;
	background-image: url(../img/li-bg-hover.png);
	border: 1px solid #efdcc4;
	background-repeat: repeat-x;
	float: left;
	width: 236px;
	height: 70px;
}

.tumbnails-menu a {
	text-decoration: none;
}

.tumbnails-menu a:hover {
	text-decoration: none;
}
.tumbnails-menu  span {
	color: #747474;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

.tumbnails-menu strong {
	color: #5894c1;
	font-size: 11px;
	margin: 0px 0px;
	padding: 0px 0px;
}

.tumbnails-menu em {
	color: #b1b1b1;
	font-size: 10px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}

.tumbnails-menu img,a img {
	border: none;
	float: left;
	margin: 0px 15px 0px 0px;
	padding: 0px;
}
