
                    <!-- Post Content
                    ============================================= -->
                    <div class="postcontent nobottommargin clearfix">

                        <div class="single-post nobottommargin">

                            <!-- Single Post
                            ============================================= -->
                            <div class="entry clearfix">

                                <!-- Entry Title
                                ============================================= -->
                                <div class="entry-title">
                                    <h2>{$data.judul}</h2>
                                </div><!-- .entry-title end -->

                                <!-- Entry Meta
                                ============================================= -->
                                <ul class="entry-meta clearfix">
                                    <li><i class="icon-calendar3"></i> {$data.tanggal}</li>
                                    
                                </ul><!-- .entry-meta end -->

                                <!-- Entry Content
                                ============================================= -->
                                <div class="entry-content notopmargin">

                                    <!-- Entry Image
                                    ============================================= -->
                                    <div class="entry-image alignleft">
                                        <a href="#"><img src="{$data.image}" alt="Blog Single"></a>
                                        <p><h6><i>{$data.keterangan_gambar}</i></h6></p>
                                    </div><!-- .entry-image end -->

                                    {$data.content}
                                    <!-- Post Single - Content End -->
                                    <div class="line"></div>
                                    <div class="clear"></div>

                                    <!-- Post Single - Share
                                    ============================================= -->
                                  
                                        <span>Bagikan:</span>
                                      <span class='st_facebook_vcount' displayText='Facebook'></span>
                                        <span class='st_twitter_vcount' displayText='Tweet'></span>
                                    

                                </div>
                            </div><!-- .entry end -->

                            <h4>Related Posts:</h4>

                            <div class="related-posts clearfix">

                                <div class="col_half nobottommargin">
                                      {foreach name=berita_list from=$berita_list item=rs}
                                    <div class="mpost clearfix">
                                        <div class="entry-image">
                                            <img src="{$rs.image}" alt="Blog Single">
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4><a href="{$rs.url_detail}">{$rs.judul}</a></h4>
                                            </div>
                                            <ul class="entry-meta clearfix">
                                                <li><i class="icon-calendar3"></i> {$rs.tanggal}</li>
                                                
                                            </ul>
                                          
                                        </div>
                                    </div>
                                    {/foreach}

                                  

                                </div>

                                <div class="col_half nobottommargin col_last">
                                {if $berita_list_kedua neq '' }
                                    {foreach name=berita_list-kedua from=$berita_list_kedua item=rs}
                                    <div class="mpost clearfix">
                                        <div class="entry-image">
                                            <img src="{$rs.image}" alt="Blog Single">
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4><a href="{$rs.url_detail}">{$rs.judul}</a></h4>
                                            </div>
                                            <ul class="entry-meta clearfix">
                                                <li><i class="icon-calendar3"></i> {$rs.tanggal}</li>
                                            
                                            </ul>
                                           
                                        </div>
                                    </div>
                                    {/foreach}
                                    {/if}
                                    

                                </div>

                            </div>

                                <div class="clear"></div>
                               
                        </div>

                    </div><!-- .postcontent end -->

{literal}

<script type="text/javascript" id="st_insights_js" src="http://w.sharethis.com/button/buttons.js?publisher=a4abca36-32a8-4c45-9716-281f17242f3b&product=widget"></script>
<script type="text/javascript">stLight.options({publisher: "a4abca36-32a8-4c45-9716-281f17242f3b", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
{/literal}