     <!-- Footer
        ============================================= -->
        <footer id="footer" class="dark">

   <!-- Copyrights
            ============================================= -->
            <div id="copyrights">

                <div class="container clearfix">

                    <div class="col_half">
                       Copyrights © 2016 All Rights Reserved by : PT. Tunas Andalan Abadi<br>
                        
                    </div>

                    <div class="col_half col_last tright">
                        <div class="fright clearfix">
                         {foreach name=datasosmed from=$datasosmed item=rs}
                            <a href="{$rs.link}" class="social-icon si-small si-borderless">
                                <i class="{$rs.logo}"></i>
                                <i class="{$rs.logo}"></i>
                            </a>
                        {/foreach}

                        </div>

                        <div class="clear"></div>

                       
                    </div>

                </div>

            </div><!-- #copyrights end -->

        </footer><!-- #footer end -->