<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>RELAWAN GREEN JAKARTA</title>
    <link rel="shortcut icon" href="favicon.ico">
    <meta property="og:title" content="{$share.judul}" />
	<meta property="og:url" content="{$share.url_detail}" />
	<meta property="og:image" content="{$share.image}" />
	<meta property="og:description" content="{$share.deskripsi}" />
	<meta property="og:site_name" content="gubernurdki.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
   <link rel="stylesheet" type="text/css" href="{$THEMESPATH}" />
    {$LOADSTYLE}
    {$JSDEFAULT}
</head>
