

        <!-- Top Bar
        ============================================= -->
        <div id="top-bar">

            <div class="container clearfix">

                <div class="col_half nobottommargin">

                    <!-- Top Links
                    ============================================= -->
                    <div class="top-links">
                        <ul>
                            <li><a href="{$BASEURL}">Home</a></li>
                            
                            <li><a href="{$BASEURL}index.php/public/kontak">Kontak</a></li>
                            
                        </ul>
                    </div><!-- .top-links end -->

                </div>

                <div class="col_half fright col_last nobottommargin">

                    <!-- Top Social
                    ============================================= -->
                    <div id="top-social">
                        <ul>
                        {foreach name=datasosmed from=$datasosmed item=rs}
                            <li><a href="{$rs.link}" class="si-facebook"><span class="ts-icon"><i class="{$rs.logo}"></i></span><span class="ts-text">{$rs.nama}</span></a></li>
                        {/foreach}
                        
                            <li><a href="tel:{$kontakinfo.telp}" class="si-call"><span class="ts-icon"><i class="icon-call"></i></span><span class="ts-text">{$kontakinfo.telp}</span></a></li>
                            <li><a href="mailto:{$kontakinfo.email}" class="si-email3"><span class="ts-icon"><i class="icon-email3"></i></span><span class="ts-text">{$kontakinfo.email}</span></a></li>
                        </ul>
                    </div><!-- #top-social end -->

                </div>

            </div>
