<header id="header" class="sticky-style-2">

            <div class="container clearfix">

                <!-- Logo
                ============================================= -->
                <div id="logo">
                    <a href="index.html" class="standard-logo" data-dark-logo="{$BASEURL}/doc/banner/asli.png"><img src="{$BASEURL}/doc/banner/asli.png" alt="Canvas Logo"></a>
                    <a href="index.html" class="retina-logo" data-dark-logo="{$BASEURL}/doc/banner/asli.png"><img src="{$BASEURL}/doc/banner/asli.png" alt="Canvas Logo"></a>
                </div><!-- #logo end -->

                <div class="top-advert">
                    <img src="{$image_bantas}" alt="Ad">
                </div>

            </div>

            <div id="header-wrap">

                <!-- Primary Navigation
                ============================================= -->
                <nav id="primary-menu" class="style-2">

                    <div class="container clearfix">

                        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                        <ul>
                            {if $menu_aktif eq '' or $menu_aktif eq 'home'} 
                             <li class="current"><a href="{$BASEURL}"><div>HOME</div></a>
                            {else}
                             <li><a href="{$BASEURL}"><div>HOME</div></a>
                            {/if}
                            
                                
                            </li>
                            {if $menu_aktif eq 'profil' AND $menu_aktif neq ''} 
                            <li class="current"><a href="#"><div>PROFIL ASLI</div></a>
                            {else}
                            <li><a href="#"><div>PROFIL ASLI</div></a>
                            {/if}
                            <ul>

                                    {foreach name=profil from=$profil item=rs}
                                    <li><a href="{$BASEURL}index.php/public/profil/detail/{$rs.id_info}"><div>PROFIL {$rs.nama}</div></a>
                                    </li>
                                    {/foreach}
                                     
                                </ul>
                                    
                                
                            </li>
                             {if $menu_aktif eq 'relawan' AND $menu_aktif neq ''} 
                            <li class="current"><a href="#"><div>PROFIL RELAWAN</div></a>
                            {else}
                             <li><a href="#"><div>PROFIL RELAWAN</div></a>
                             {/if}
                                <ul>
                                    
                                    {foreach name=relawan from=$relawan item=rs}
                                    <li><a href="{$BASEURL}index.php/public/relawan/detail/{$rs.id_relawan}"><div>Relawan {$rs.nama}</div></a>
                                    </li>
                                    {/foreach}
                                </ul>
                            </li>
                            {if $menu_aktif eq 'informasi'   AND $menu_aktif neq '' or $menu_aktif eq 'berita'  AND $menu_aktif neq ''} 
                            <li class="current"><a href="#"><div>BERITA</div></a>
                            {else}
                            <li><a href="#"><div>BERITA</div></a>
                            {/if}
                                <ul>
                                    <li><a href="{$BASEURL}index.php/public/informasi"><div>KEGIATAN AGUS SILVY</div></a></li>
                                    <li><a href="#"><div>KEGIATAN RELAWAN</div></a>
                                        <ul>
                                        {foreach name=relawan from=$relawan item=rs}
                                    <li><a href="{$BASEURL}index.php/public/berita/relawan/{$rs.id_relawan}"><div>RELAWAN {$rs.nama}</div></a>
                                    </li>
                                        {/foreach}
                                   
                                        </ul>
                                    </li>
                                    
                                </ul>
                            </li>
                             {if $menu_aktif eq 'foto' AND $menu_aktif neq ''} 
                           <li class="current"><a href="{$BASEURL}index.php/public/foto"><div>PHOTO</div></a>
                           {else}
                           <li><a href="{$BASEURL}index.php/public/foto"><div>PHOTO</div></a>
                           {/if}
                                
                            </li>
                             {if $menu_aktif eq 'video' AND $menu_aktif neq ''} 
                            <li class="current"><a href="{$BASEURL}index.php/public/video"><div>VIDEO</div></a>
                            {else}
                            <li><a href="{$BASEURL}index.php/public/video"><div>VIDEO</div></a>
                            {/if}
                                
                            </li>
                              {if $menu_aktif eq 'kontak' AND $menu_aktif neq ''} 
                            <li class="current"><a href="{$BASEURL}index.php/public/kontak"><div>KONTAK</div></a>
                                {else}
                            <li><a href="{$BASEURL}index.php/public/kontak"><div>KONTAK</div></a>
                                {/if}
                            </li>
                                
                        </ul>

                        <!-- Top Search
                        ============================================= -->
                        <div id="top-search">
                            <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
                              <form method="post" action="{$url_search_base}" name="form-search"> 
                                <input type="text" class="form-control" name="keyword" value="{$keyword}" placeholder="Masukan kata pencarian"/>
                              </form>
                        </div><!-- #top-search end -->

                    </div>

                </nav><!-- #primary-menu end -->

            </div>

        </header><!-- #header end -->
