<!-- Sidebar
                    ============================================= -->
                    <div class="sidebar nobottommargin col_last clearfix">
                        <div class="sidebar-widgets-wrap">

                           
                            <div class="widget clearfix">

                                    <div class="tabs nobottommargin clearfix" id="sidebar-tabs">

                                        <ul class="tab-nav clearfix">
                                            <li><a href="#tabs-1">Asli</a></li>
                                            <li><a href="#tabs-2">Rahmad</a></li>
                                            <li><a href="#tabs-3">Lain2</a></li>
                                        </ul>

                                        <div class="tab-container">

                                            <div class="tab-content clearfix" id="tabs-1">
                                                <div id="popular-post-list-sidebar">

                                                     {foreach name=informasi_list_side from=$informasi_list_side item=rs}
                                                    <div class="spost clearfix">
                                                        <div class="entry-image">
                                                            <a href="{$rs.url_detail}" class="nobg"><img class="img-circle" src="{$rs.image}" alt=""></a>
                                                        </div>
                                                        <div class="entry-c">
                                                            <div class="entry-title">
                                                                <h4><a href="{$rs.url_detail}">{$rs.judul}</a></h4>
                                                            </div>
                                                            <ul class="entry-meta">
                                                                <li><i class="icon-calendar3"></i>{$rs.tanggal}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    {/foreach}
                                                   
                                                </div>
                                            </div>
                                            <div class="tab-content clearfix" id="tabs-2">
                                                <div id="recent-post-list-sidebar">

                                                   {foreach name=berita_list_side from=$berita_list_side item=rs}
                                                    <div class="spost clearfix">
                                                        <div class="entry-image">
                                                            <a href="{$rs.url_detail}" class="nobg"><img class="img-circle" src="{$rs.image}" alt=""></a>
                                                        </div>
                                                        <div class="entry-c">
                                                            <div class="entry-title">
                                                                <h4><a href="{$rs.url_detail}">{$rs.judul}</a></h4>
                                                            </div>
                                                            <ul class="entry-meta">
                                                                <li><i class="icon-calendar3"></i>{$rs.tanggal}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    {/foreach}
                                                </div>
                                            </div>
                                            <div class="tab-content clearfix" id="tabs-3">
                                                   {foreach name=berita_list_anggota_side from=$berita_list_anggota_side item=rs}

                                                    <div class="spost clearfix">
                                                        <div class="entry-image">
                                                            <a href="{$rs.url_detail}" class="nobg"><img class="img-circle" src="{$rs.image}" alt=""></a>
                                                        </div>
                                                        <div class="entry-c">
                                                            <div class="entry-title">
                                                                <h4><a href="{$rs.url_detail}">{$rs.judul}</a></h4>
                                                            </div>
                                                            <ul class="entry-meta">
                                                                <li><i class="icon-calendar3"></i>{$rs.tanggal}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    {/foreach}
                                            </div>

                                        </div>

                                    </div>

                                </div>


                            <div class="widget clearfix">
                                 {foreach name=video_list from=$video_list item=rs}
                                        <div class="oc-item">
                                        <div class="iportfolio">
                                            <div class="portfolio-image">
                                                <a href="#">
                                                    <img src="{$rs.video_image}" alt="Mac Sunglasses">
                                                </a>
                                                <div class="portfolio-overlay">
                                                    <a href="{$rs.url_play}" class="left-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
                                                   
                                                </div>
                                            </div>
                                            <div class="portfolio-desc">
                                                <h3><a href="portfolio-single-video.html">{$rs.judul_video}</a></h3>
                                                
                                            </div>
                                        </div>
                                    {/foreach}
                                    </div>

                            

                        </div>

                    </div><!-- .sidebar end -->